* {
  text-align: center;
  color: white;
}

#section1, #section2 {
border-radius: 20px;
margin: 5px;
font-family: sans-serif;
padding: 5em;
box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
background-color: transparent;
}

#section1, #section2 {
  height: 100vh;
  width: 100%;
}

body {
  background: url(https://images.unsplash.com/photo-1527224538127-2104bb71c51b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80);
  background-size: 100%;
  font-family: sans-serif;
}

.header-container {
  position: relative;
}

.header-container img {
  display: block;
  width: 100%;
  height: 200px;
}

.header-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
}

header {
  color: white;
  border-radius: 20px;
  font-size: 5em;
  padding: 20px;
}

h1 { 
  text-align: center;
  color: white;
  text-transform: uppercase;
  padding: 1px;
  font-family: 'Raleway', cursive;
  font-weight: 100;
  position: relative;
  background: linear-gradient(to right, black, #eee, black);
}
h1::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -50px;
  width: 600px;
  margin-left: -300px;
  margin-top: -220px;
  height: 600px;
  background: radial-gradient(100% 100%, ellipse closest-side, #444, black);
  z-index: -1;
}
h1 a {
  background: black;
  display: block;
  padding: 20px;
  text-decoration: none;
  letter-spacing: 20px;
  color: white;
}

h3 {
  color: white;
  padding: 20px;
  font-family: 'Raleway', cursive;
}

h5 {
  font-size: medium;
}

option {
  color: black
}

/* Define custom variable */
:root {
  --dark-color: #131325;
}

/* For loading purposes */
#loading_screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#loadingAnimation {
  display: none; 
}

#resultsContainer {
  border-radius: 3px;
  max-height: 82vh;
  overflow-y:scroll;
  display: flex; 
  display: none;
  flex-direction: column;
  align-items: center;
}

/* For the cards */
.card {
  height: 300px;
  width: 750px;
  padding: 15px 20px;
  border: 1px solid #e07a5f;
  cursor: pointer;
  margin: 5px;
  perspective: 750px;
  transition: all 0.1s;
  background-color: var(--dark-color);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.1s;
}

.bottom {
  height: 0px;
  overflow: hidden;
  font-size: 12px;
}

.cardPhoto {
  transition: all 0.5s;
  width: 120px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  margin: 0 10px;
}

.info {
  transition: all 0.2s;
  margin: 0 10px
}

.resName {
  font-size: 1.5em;
  letter-spacing: 1px;
}

.ratePrice {
  font-size: 16px;
}

.group {
  margin: 0 10px;
}

.open {
  margin: 30px;
  height: 450px;
  width: 850px;
  padding: 15px 20px;
}

.card.open .top {
  margin: 10px 0;
}

.card.open .bottom {
  margin: 10px 0;
  height: 100%;
  overflow: visible;
}

.card.open .cardPhoto {
  transform: rotateY(50deg);
  box-shadow: -10px 10px 10px 2px rgba(0, 0, 0, 0.2), -2px 0px 0px 0px #888;
  transition: all 0.5s;
  transition-delay: 0.05s;
}

.card.open .info {
  transform: translate(0, -10px);
}

.simple {
  cursor: pointer;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: #1ea94b;
  font-family: 'Montserrat';
  font-weight: bold;
  transition: all 0.1s;
}

.simple:hover {
  box-shadow: 0px 15px 20px -5px rgba(0, 0, 0, 0.3);
  transform: translate(0, -2px);
}

.anchorBtn {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.anchorBtn:hover {
  background-color: #0062cc;
}