* {
  text-align: center;
  color: white;
}

#section1, #section2, #resultsContainer {
  border: 1px solid #e07a5f;
  border-radius: 20px;
  margin: 5px;
  font-size: medium;
  font-family: sans-serif;
  padding: 3em;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
  background-color: transparent;
}

.cont {
  border: 4px solid white;
  margin: 5px;
  background-color: black;
}

.cards{
  /* border: 1px solid #e07a5f; */
  margin: 5px;
}

.cardImage{
  height: 15vh;
}

.cont {
  border: 4px solid white;
  margin: 5px;
  background-color: black;
}

#section1, #section2 {
  height: 100vh;
  width: 100%;
}

body {
  background: url(https://images.unsplash.com/photo-1527224538127-2104bb71c51b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80);
  background-size: 100%;
  font-family: sans-serif;
}

.header-container {
  position: relative;
}

.header-container img {
  display: block;
  width: 100%;
  height: 200px;
}

.header-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
}

header {
  color: white;
  /* background-color: #e07a5f; */
  border-radius: 20px;
  font-size: 5em;
  padding: 20px;
}

h1 { 
  text-align: center;
  color: white;
  text-transform: uppercase;
  padding: 1px;
  font-family: 'Raleway', cursive;
  font-weight: 100;
  position: relative;
  background: linear-gradient(to right, black, #eee, black);
}
h1::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -50px;
  width: 600px;
  margin-left: -300px;
  margin-top: -220px;
  height: 600px;
  background: radial-gradient(100% 100%, ellipse closest-side, #444, black);
  z-index: -1;
}
h1 a {
  background: black;
  display: block;
  padding: 20px;
  text-decoration: none;
  letter-spacing: 20px;
  color: white;
}

h3 {
  color: white;
  padding: 20px;
  font-family: 'Raleway', cursive;
}

h5 {
  font-size: medium;
}

footer {

}